@import 'variables';

body {
  background-color: $dgray;
  color: $lgreen;
  padding: 2rem;
  font-family: "Elliot Sans", sans-serif;
}

hr {
  border: 2px solid currentColor;
  border-radius: 4px;
}

a {
  color: $cream;
  text-decoration: none;
}
a:hover {
  color: $gold;
}

input[type="file"] {
  display: none;
}

input {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75em;
}

button, label.file-input {
  background-color: $lgray;
  color: $cream;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.4rem 0.6rem;
}

label.file-input {
  margin-right: 1rem;
}

input.error {
  border-color: $red;
}

.error {
  color: $red;
}

.small {
  font-size: 0.6rem;
}
