$black: #232B2D;
$dgray: #333B3D;
$lgray: #676F62;
$white: #EBEEED;

$cream: #E4EED6;
$gold: #FFDF00;

$lgreen: #C9DCC1;
$mgreen: #9CB598;
$dgreen: #395330;

$red: #ED481B;
//$dkred: #984343;

@font-face {
  font-family: "Elliot Sans";
  src: url("fonts/elliot_sans/ElliotSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("fonts/elliot_sans/ElliotSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("fonts/elliot_sans/ElliotSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Elliot Sans";
  src: url("fonts/elliot_sans/ElliotSans-Bold.ttf");
  font-weight: 700;
}
